.dropdown-scroll {
  max-height: 200px; /* Adjust height as needed */
  overflow-y: auto;
}

.mt-2 {
  margin-top: 0.6rem !important;
}

.sidebar{
  width: 250px;
}
.c-side{
  width: 80px;
}

ol, ul {
  padding-left: 0rem !important;
  list-style-type: none !important;
}

/* Sidebar default styles */
.sidebar {
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 60px; /* Adjust width when collapsed */
}

.sidebar-header h3 {
  transition: opacity 0.3s ease;
}

.sidebar-header .d-none {
  opacity: 0;
}

.sidebar li.collapsed-item {
  text-align: center; /* Center the icons */
}

.sidebar .btn {
  background: transparent;
  border: none;
}

.sidebar ul {
  padding-left: 0;
  list-style-type: none;
}

.sidebar li {
  padding: 10px 0;
  transition: padding 0.3s ease;
}

.sidebar li .flex {
  display: flex;
  align-items: center;
}



